.form-item {
  margin: 10px;
  padding: 10px;
}

.form-input {
  max-width: 200px;
}

.label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50;
}

.container-profil {
  background-color: rgb(255, 255, 255);
}

.p-sidebar {
  background-color: rgb(255, 255, 255);
}

.p-row {
  background-color: mediumseagreen;
}

.widget-box-p1 {
  background-color: rgb(251, 251, 251);
  border-style: thin;
  border-width: 0.3px;
  border-radius: 20px;
  margin: 15px;
  max-width: 600px;
}

.mef-profil-item:hoover {
  background: linear-gradient(90.27deg, #36ab9d 0%, #87e1cf 100.59%);
}
.list-group-mine .list-group-item {
  background-color: rgb(251, 251, 251);
  border-left-color: #fff;
  border-right-color: #fff;
}

.list-group-mine .list-group-item:hover {
  background: linear-gradient(90.27deg, #36ab9d 0%, #87e1cf 100.59%);
  color: white;
}
