.mef-formconnexion {
  background-color: rgb(75, 119, 78);
  padding: 20px;
  margin-top: 25px;
  border: 10px;
  color: rgb(255, 247, 244);
  align-items: center;
  width: 500px;
  justify-content: right;
}

.btn-lmd {
  background-color: #87e1cf !important;
  color: rgb(253, 250, 255);
  border-color: transparent !important;
  font-weight: bold;
  float: inline-start;
  padding: 25px;
}

.btn-ldm:focus {
  border-color: #36ab9d !important;
  box-shadow: inset 0 1px 1px rgb(75, 119, 78), 0 0 8px rgb(75, 119, 78) !important;
  font-weight: bold;
}
.mef-title {
  text-align: center;
  margin-top: 25px;
  color: rgb(75, 119, 78);
}

.mef-button-position {
  text-align: center;
  padding: 20px;
  color: rgb(99, 99, 115);
}

.mef-placeholder {
  text-align: center;
}

.btn-primary {
border-color: transparent !important;
background-color: 'Transparent' !important;
}
