.mef-navlink {
  color: rgb(243, 243, 243);
  font-size: medium;
  padding: 10px;
}
.mef-navlink:hover {
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.mef-navlink-profile {
  color: #36ab9d;
  font-size: medium;
  padding: 5px;
}

.mef-navlink-profile:hover {
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  background-color: #36ab9d;
  text-decoration: none;
}

.mef-bg {
  background: linear-gradient(90.27deg, #36ab9d 0%, #87e1cf 100.59%);
  height : 10vh;
}
.title-quizz {
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.mef-login {
  margin-right: 60px;
}

#dropdown-basic {
max-height: 10vmin;
}

.btn-lmd2 {
  border-color: transparent !important;
  background-color: transparent !important;
  }

  .btn-lmd2:focus {
    border-color: #36ab9d !important;
    box-shadow: inset 0 1px 1px rgb(75, 119, 78), 0 0 8px rgb(75, 119, 78) !important;
    font-weight: bold;
  }
